body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    background: linear-gradient(to right, #162E52 0%, #214161 9%, #305E79 47%, #448699 100%);
    color: white;
}

.profile{
    width: 348px;
    height: 80px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    font-size: 23px;
    margin-left: 70%;
}

.profile p{
    text-align: center;
    padding-top:24px;
    color: black;
}

hr {
    color: black;
}

.line{
    width : 350px;
    height: 1px;
    border: white 2px solid;
    background-color: white;
}

h1, .line{
    margin-left:20px;
    margin-bottom: 0px;
    padding-left: 7px;
}



.content{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

button{
    margin-right: 40px;
    border: black 2px solid;
    border-radius: 10px;
    display: flex;
    width: 400px;

}

button a{
    color: black;
    text-decoration: none;
    font-size: 23px;
    /* padding-top: 30px; */
    font-weight: bold;
    display: flex;
}

button p{
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 10px;
}
