html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    background: linear-gradient(to right, #162E52 0%, #214161 9%, #305E79 47%, #448699 100%);
    color: white;
}

.profile {
    width: 348px;
    height: 85px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    font-size: 23px;
    margin-top: 30px;
}

.profile p {
    text-align: center;
    padding-top: 5px;
    color: black;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header img {
    height: 85px;
    border-radius: 50%;
}

.container {
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.user-management {
    /* text-align: center; */
    background-color: #E7E7E7;
    padding: 20px;
    border-radius: 10px;
    color: #000;
}

.add-user-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 92%;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
    background-color: white;
}

th {
    background-color: white;
}

.edit-btn, .delete-btn {
    /* padding: 5px 10px; */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
    height: 50px;
    font-size: 20px;
}

.edit-btn {
    background-color: #0194F3;
    color: white;
    margin-right: 5px;

}

.delete-btn {
    background-color: #dc3545;
    color: white;

}