body{
    background-color: #D8F0FF;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif; 

    color: white ;

}

 img{
    width: 457px;
    height: 170px;
    margin-top: 40px;
    align-items: center;
    margin-left: 450px;

}

.hero{
    background-image: url("../image/HeroAdmin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  rgba(48, 94, 121, 0.5);
    background-blend-mode: overlay;
    margin-top: 0px;
    /* height: 400px; */
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 600px;
    color: black;
    padding-top: 200px;
    margin-bottom: 40px;

}    

.hero h1{
    font-size: 30px;
    /* margin-top: 100px; */
    margin-left: 10%;
    margin-right: 10%;

}
.vertical-line {
    width: 2px; 
    height: 100px; 
    background-color: white; 
    margin: 20px; 
  }

.Role{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* border: black 2px solid; */
    /* margin-left: 300px; */
    width: 807px;
    height: 300px;
    color: white;
    margin-left: 300px;
    /* padding-top: 200px; */

}

.center{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 20px;
}

button{
    background: linear-gradient(to right, #162E52 0%, #214161 9%, #305E79 47%, #448699 100%);;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    height: 100px;
    width: 335px;
    border: white 2px solid;
    font-size: 25px;
    font-weight: bold;
}